# HuggingFace token 
HF_TOKEN=

# OpenRouter API key 
OPENROUTER_API_KEY=
OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free

# Chunk
INPUT_DIR=./input
OUTPUT_FILE=./output/learning_contexts.json
CHECKPOINT_FILE=./output/checkpoint.jsonl

CHUNK_SIZE=1500
CHUNK_OVERLAP=100
MIN_CHUNK_TOKENS=100

CHUNKS_PER_LLM_CALL=1
REQUESTS_PER_MINUTE=50
DAILY_REQUEST_LIMIT=10000
